body
{
    background-color: white;
}

h1
{
    text-align: center;
    font-family : century gothic;
    font-size   : 3em;
    margin-top: 1%;
    color:white;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: #9d7eb8;
}

h2
{
    font-family : monospace;
    background-color: #9d7eb8;
    color:white;
    font-size:1.7em;
    text-align: justify;
}

table{
    border:1px solid black;
    border-collapse: collapse;
    width:100%;
    table-layout: auto;
}
th, td {
    padding: 11px;
    border:1px solid black;
    text-align: justify;
    white-space: nowrap;
    font-family: roboto;
}

th{
    position: sticky;
    top: 0;
    background-color: #fff; /* Prevents header from becoming transparent */
    z-index: 100; /* Ensures the header stays on top of other content */
}

.table-heading {
    font-size: 1.4em; /* Taille de police plus grande pour simuler un titre */
    font-weight: bold; /* Texte en gras */
    font-family : monospace;
    background-color: #9d7eb8;
    color:white;
}




.search{
    width: max-content;
    display: flex;
    align-items: center;
    padding:4px;
    border-radius: 3px;
    background: #f9b674;
    top:50%;

}

#libre{
    font-size: 16px;
    font-family: 'Lexend',sans-serif;
    color:#333333;
    outline: none;
    border:none;
    background: transparent;

}

.dep{
    margin-left: 20%;
    width: max-content;
    display: flex;
    align-items: center;
    padding:4px;
    border-radius: 3px;
    background: #cda4fb;
}

.file{
    font-family: roboto;
}
.block{
    margin-left: 11%;
    margin-right: 20%;
}


