body
{
    background-color: white;
}

h1
{
    text-align: center;
    font-family : century gothic;
    font-size   : 3em;
    margin-top: 1%;
    border: 2px solid black;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: #cda4fb;
}

h2
{
    font-family : monospace;
    background-color: #cda4fb;
}

table{
    border:1px solid black;
    border-collapse: collapse;
    width:100%;
}
th, td {
    padding: 11px;
    border:1px solid black;
    text-align: justify;
    white-space: nowrap;
    font-family: roboto;
}

.table-heading {
    font-size: 1.2em; /* Taille de police plus grande pour simuler un titre */
    font-weight: bold; /* Texte en gras */
    font-family : monospace;
    background-color: #cda4fb;
}




.search{
    width: max-content;
    display: flex;
    align-items: center;
    padding:4px;
    border-radius: 3px;
    background: #cda4fb;
    top:50%;

}

#libre{
    font-size: 16px;
    font-family: 'Lexend',sans-serif;
    color:#333333;
    outline: none;
    border:none;
    background: transparent;

}

.dep{
    margin-left: 20%;
    width: max-content;
    display: flex;
    align-items: center;
    padding:4px;
    border-radius: 3px;
    background: #cda4fb;
}

.file{
    font-family: roboto;
}
.block{
    margin-left: 11%;
    margin-right: 20%;
}

.test{
    
    
}
